body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../loginImg/bg.jpg) no-repeat top center #fff;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }
a:hover{text-decoration: none;}
.text-pink{
    color:#7951c3;
}
a.text-pink:hover{
    color:#492e7b;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding:0 20px;
  }
  
.content-container{
    max-width: 1126px;
    width: 100%;
    margin: 0pt auto;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    box-shadow: 0px 6px 122px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.90);
    overflow: hidden;
    border: 4px solid #fff;
}
.l-section, .r-section{
    width:50%;
    padding:20px;
}

.l-section{
    background: url(../loginImg/text-bg.jpg) no-repeat center center #000;
    background-size: cover;
}
.max-380{
    max-width: 380px;
}
.icon-group span.input-group-text {
    border-radius: 40px;
    background: #fff;
    border-right: none;
    padding-left:18px;
}
.icon-group .form-control {
    border-radius: 40px;
    background: #fff;
    border-left: none;
    padding-left: 0;
    height: 44px;
}
.icon-group .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: #d2d2d2;
}
.btn.btn-round-attr{
    background: #7951c3;
    font-weight: 800;
    color: #fff;
    height: 45px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 8px 11px rgba(13, 0, 204, 0.45);
    border: 1px solid #492e7b;
}
@media (max-width:767px){
    .content-container{
        flex-direction: column;
    }
    .l-section, .r-section{
        width:100%;
    }
}